<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated mymetamodel -->
      <package
            uri="mymetamodel1"
            class="mymetamodel.MymetamodelPackage"
            genModel="MetaModel/LangageWebsite/mymetamodel.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated MMRestAPi -->
      <package
            uri="mymetamodel2"
            class="MMRestApi.MMRestApiPackage"
            genModel="MetaModel/RESTApi/MMRestAPi.genmodel"/>
   </extension>

</plugin>
